@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body{
    margin: 0;
    padding:0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.hero{
    background-color: #1f2937;
    color: #f9f4f8;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:20px;
}

header .logo{
    font-size: 24px;
}

header .link{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
    cursor: pointer;
}

.hero_content{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

.hero_info{
    width: 430px;
    margin: 100px 40px;
}

.hero_info h1{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
} 

.hero_info p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.hero_info button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    width: 150px;
    height: 36px;
}

.hero_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 235px;
    background-color: #6d747d;
    flex-grow: 1;
    margin: 40px;
}

.hero_image img{
    width: 530px;
}

/* Section Info */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 90px 40px;
}

.main h1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.main .main_info{
    display: flex;
    gap: 40px;
    text-align: center;
}

.main .info_card{
    width: 150px;
    
}

.main .info_img{
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 150px;
}

.main .info_img img{
    height: 150px;
    width: 140px;
    border-radius: 10px;
}

.main .info_card p {
    margin-top: 10px;
}

/* Section Testimony */

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote p{
    width: 850px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

.quote p:nth-child(2){
    font-size: 20px;
    font-weight: bolder;
    text-align: end;
    margin-top: 0;
}

/* Section Call to action */

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.action .action_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #e5e7eb;
}

.action .action_content h2{
    margin-bottom: 0px;
}

.action .action_content p{
    margin-top: 0px;
}

.action button {
    border: 3px solid  #e5e7eb;
    color:  #e5e7eb;
    background-color: #3882f6;
    height: 35px;
    width: 130px;
    border-radius: 7px;
    font-weight: bolder;
    font-size: 16px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9f4f8;
    height: 80px;
}